In [2]:
import pandas as pd
import pyautogui

In [3]:
df = pd.read_excel('plano de amortização.xlsx', sheet_name = 5)
df

,órgão,Número órgão,Número Critério,Critério,Tipo,Carreira,Numero Carreira,SEXO,Qtd,Salário médio,IM,IM Aap,IM Ad
0,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,MAGISTRADO,1,M,0,0.000000,0.000000,0.000000,0.000000
1,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,MAGISTRADO,1,F,0,0.000000,0.000000,0.000000,0.000000
2,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF,2,M,0,0.000000,0.000000,0.000000,0.000000
3,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF,2,F,0,0.000000,0.000000,0.000000,0.000000
4,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,MILITAR,3,M,0,0.000000,0.000000,0.000000,0.000000
5,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,MILITAR,3,F,0,0.000000,0.000000,0.000000,0.000000
6,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,OUTROS,4,M,10,409151.000000,3610.000000,6000.000000,2680.000000
7,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,OUTROS,4,F,12,346347.083333,3941.666667,5533.333333,3083.333333
8,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF SUP,5,M,0,0.000000,0.000000,0.000000,0.000000
9,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF SUP,5,F,0,0.000000,0.000000,0.000000,0.000000
10,Assembleia,4,1,Sem critério diferenciado para a aposentadoria,Ativos,MAGISTRADO,1,M,0,0.000000,0.000000,0.000000,0.000000
11,Assembleia,4,1,Sem critério diferenciado para a aposentadoria,Ativos,MAGISTRADO,1,F,0,0.000000,0.000000,0.000000,0.000000
12,Assembleia,4,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF,2,M,0,0.000000,0.000000,0.000000,0.000000
13,Assembleia,4,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF,2,F,0,0.000000,0.000000,0.000000,0.000000
14,Assembleia,4,1,Sem critério diferenciado para a aposentadoria,Ativos,MILITAR,3,M,0,0.000000,0.000000,0.000000,0.000000
15,Assembleia,4,1,Sem critério diferenciado para a aposentadoria,Ativos,MILITAR,3,F,0,0.000000,0.000000,0.000000,0.000000
16,Assembleia,4,1,Sem critério diferenciado para a aposentadoria,Ativos,OUTROS,4,M,10,409151.000000,3610.000000,6000.000000,2680.000000
17,Assembleia,4,1,Sem critério diferenciado para a aposentadoria,Ativos,OUTROS,4,F,12,346347.083333,3941.666667,5533.333333,3083.333333
18,Assembleia,4,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF SUP,5,M,0,0.000000,0.000000,0.000000,0.000000
19,Assembleia,4,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF SUP,5,F,0,0.000000,0.000000,0.000000,0.000000

In [4]:
teste = df.loc[df['Número órgão']== 3]
teste

,órgão,Número órgão,Número Critério,Critério,Tipo,Carreira,Numero Carreira,SEXO,Qtd,Salário médio,IM,IM Aap,IM Ad
0,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,MAGISTRADO,1,M,0,0.000000,0.000000,0.000000,0.000000
1,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,MAGISTRADO,1,F,0,0.000000,0.000000,0.000000,0.000000
2,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF,2,M,0,0.000000,0.000000,0.000000,0.000000
3,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF,2,F,0,0.000000,0.000000,0.000000,0.000000
4,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,MILITAR,3,M,0,0.000000,0.000000,0.000000,0.000000
5,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,MILITAR,3,F,0,0.000000,0.000000,0.000000,0.000000
6,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,OUTROS,4,M,10,409151.000000,3610.000000,6000.000000,2680.000000
7,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,OUTROS,4,F,12,346347.083333,3941.666667,5533.333333,3083.333333
8,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF SUP,5,M,0,0.000000,0.000000,0.000000,0.000000
9,junta comercial,3,1,Sem critério diferenciado para a aposentadoria,Ativos,PROF SUP,5,F,0,0.000000,0.000000,0.000000,0.000000

In [5]:
teste2 = teste[['Número Critério', 'Carreira', 'SEXO']]
teste2

   Número Critério    Carreira SEXO
0                1  MAGISTRADO    M
1                1  MAGISTRADO    F
2                1        PROF    M
3                1        PROF    F
4                1     MILITAR    M
5                1     MILITAR    F
6                1      OUTROS    M
7                1      OUTROS    F
8                1    PROF SUP    M
9                1    PROF SUP    F